label{
	color: red;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}

td{
	background: #EEEEEE;
	padding: 10px;
	border: 2px solid black;
}

h1,h2{
text-align: center;
border: 1px solid black;
padding: 4px;
background: #EEEEEE;
text-transform: capitalize;
font-family: 'Roboto Condensed', sans-serif;
}
tr td:first-child{
text-align: right;
background: #EEEEEE;

}